<div class="login-div">
  <h1>Create an Account</h1>
  <div class="new-account-container">
    <div class="new-account-left">
      <%= render 'form' %>
    </div>

    <div class="new-account-right">
      <%= link_to '/auth/facebook' do %>
        <button class="loginBtn loginBtn--facebook">
          Continue with Facebook
        </button>
      <% end %>
    </div>
  </div>
</div>
