.new-account-left {
  float: left;
  width: 50%;
  padding-left: 15%;
}

.new-account-right {
  float: right;
  width: 50%;
  padding-right: 15%;
  padding-top: 50px;
}

.new-account-container {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
