// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-input {
  text-align: center;
  height: 50px;
  font-size: 20px;
}

.welcome-input {
  padding-bottom: 20px;
}

.input-buttons {
  width: 100px;
  font-size: 25px;
  color: #0080F0;
}

.login-div {
  padding-top: 100px;
}
