<h2>Favorites</h2>

<% if @favorites_list.products.count > 0 %>
  <div class="row">
    <% @favorites_list.products.each do |product| %>
      <% if !product.sold %>
        <div class="column">
          <div class="image-container">
            <div class="img">
              <%= image_tag product.image.url(:preview) if product.image.exists?%>
            </div>
          </div>
          <p><%= link_to "#{product.name}", product_path(product) %></p>
          <p><%= product.size %></p>
          <p><%= number_to_currency(product.price, :unit => "$") %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
