<!DOCTYPE html>
<html>
  <head>
    <title>SneakerIndex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <h1>The Sneaker Index</h1>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
